<!DOCTYPE HTML>

<html xmlns:th="http://www.w3.org/1999/xhtml">
<link>
<title>Zakład ubezpieczen</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="http://localhost:8090/contract/newContractStyle.css">
<!--Ten navbar style musi być w każdym pliku html-->
<link rel="stylesheet" href="http://localhost:8090/navBarStyle.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="http://localhost:8090/contract/newContractController.js"></script>
<script src="http://localhost:8090/controllerReserve.js"></script>
<!--Ten home service musi być zawsze-->
<script src="http://localhost:8090/homeService.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


</head>

<body>
<div class="container" ng-app="app">

    <div ng-controller="controllerReserve" layout="column" ng-cloak>

        <!--Pasek nawigacji u góry-->
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <a flex md-truncate href="http://localhost:8090/home"><h2>Zakład ubezpieczeń</h2></a>
                <p>Zalogowany jako {{loggedUser.name}}</p>
                <div class="dropdown">
                    <md-button ng-click="dropDown()" class="md-primary md-icon-button ">
                        <i class="material-icons">menu</i>
                    </md-button>
                    <div id="myDropdown" class="dropdown-content">
                        <a th:href="@{/logout}">Wyloguj się</a>
                    </div>
                </div>
            </div>
        </md-toolbar>

        <!--Obowiązkowy element aby menu było do samego dołu-->
        <section layout="row" flex>

            <!--Boczny pasek nawigacji-->
            <md-sidenav
                    class="md-sidenav-left"
                    md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')"
                    md-whiteframe="4">

                <md-content layout-padding>
                    <ul>
                        <!--<a href="default.asp">Home</a>-->
                        <li ng-repeat="command in commands | orderBy: 'name'"
                            ng-click="selectCommand(command.idCommand)"><p class="commands-panel">{{command.name}} </p>
                        </li>

                    </ul>
            </md-sidenav>

            <!--Tytuł strony pojawiający się na środku-->
            <md-content flex layout-padding>
                <h3 style="color:blue; text-align: center;">Dodaj klienta</h3>
                <br><br>

                <form name="f" ng-controller="controllerReserve">

                    <div layout-gt-sm="row">
                        <div flex="10" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email</label>
                            <input name="email" ng-model="email"
                                   required minlength="10" maxlength="70" ng-pattern="/^.+@.+\..+$/"/>

                            <div ng-messages="f.email.$error" ng-hide="showHints">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Twój adres email musi zawierać od 10 do 70 znaków i musi wygldać jak adres email.
                                </div>
                            </div>
                        </md-input-container>
                        <div flex="15" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>
                    </div>
                    <div layout-gt-sm="row">
                        <div flex="10" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Imie</label>
                            <input md-maxlength="30" required name="name" ng-model="name"/>

                            <div ng-messages="f.name.$error">
                                <div ng-message="required" class="my-message">Imię jest wymagane.</div>
                                <div ng-message="minlength" class="my-message">Imie musi być dłuższe niz 2 znaki.</div>
                                <div ng-message="md-maxlength" class="my-message">Imie nie może być dłuższe niż 30
                                    znaków.
                                </div>
                            </div>
                        </md-input-container>
                        <div flex="15" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>
                    </div>
                    <div layout-gt-sm="row">
                        <div flex="10" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Nazwisko</label>
                            <input md-maxlength="30" required name="surname" ng-model="surname"/>

                            <div ng-messages="f.surname.$error">
                                <div ng-message="required" class="my-message">Nazwisko jest wymagane.</div>

                                <div ng-message="md-maxlength">Nazwisko nie może być dłuższe niż 30 znaków.</div>
                            </div>
                        </md-input-container>
                        <div flex="15" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>
                    </div>


                    <div layout-gt-sm="row">
                        <div flex="10" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Haslo</label>
                            <input md-maxlength="30" type="password" required="password" ng-model="password"/>
                        </md-input-container>
                        <div flex="15" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>
                    </div>

                    <div layout-gt-sm="row">
                        <div flex="10" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Username</label>
                            <input md-maxlength="30" required="username" ng-model="username"/>
                        </md-input-container>
                        <div flex="15" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>
                    </div>

                    <div layout-gt-sm="row">
                        <div flex="10" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>

                        <md-button md-no-ink ng-click="submitForm($event)" ng-disabled="f.$invalid"
                                   class="md-raised md-primary">Dodaj
                        </md-button>
                        <div flex="10" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>

                    </div>

                </form>

            </md-content>
        </section>
    </div>


</div>

<!--<div class="container" ng-app="app">-->

<!--<h3 style="color:blue">Zakład ubezpieczen pseudo rejestracja</h3>-->

<!--<div ng-controller="postcontroller">-->


<!--<form  name='f'  ng-controller="postcontroller" ng-submit="submitForm()">-->
<!--<table>-->
<!--<tr>-->
<!--<td>Login:</td>-->
<!--<td><input type="text" name="username" value="" ng-model="username"/> </td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Password:</td>-->
<!--<td><input type="password" name="password" ng-model="password" /> </td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Name:</td>-->
<!--<td><input type="text" name="name" value="" ng-model="name" /> </td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Surname:</td>-->
<!--<td><input type="text" name="surname" value="" ng-model="surname"/> </td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Email:</td>-->
<!--<td><input type="text" name="email" value="" ng-model="email"/> </td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td colspan="2"><input name="submit" type="submit" value="Zarejestruj"/> </td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td> <a href="find/findUser">Wyszukaj usera</a></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td> <a th:href="@{/logout}">Wyloguj się</a>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</form>-->


<!--<div class="col-sm-offset-2 col-sm-10">-->
<!--<p>{{postResultMessage}}</p>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->

</body>
</html>