<!DOCTYPE HTML>

<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Zakład ubezpieczen</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="http://localhost:8090/contract/newContractStyle.css">
    <!--Ten navbar style musi być w każdym pliku html-->
    <link rel="stylesheet" href="http://localhost:8090/navBarStyle.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="controller.js"></script>
    <!--Ten home service musi być zawsze-->
    <script src="http://localhost:8090/homeService.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


    <script src="offerControler.js"></script>
</head>
<body>

<div  class="container" ng-app="app">

    <div ng-controller="homeController" layout="column" ng-cloak>

        <!--Pasek nawigacji u góry-->
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <a flex md-truncate href="http://localhost:8090/home"> <h2 >Zakład ubezpieczeń</h2></a>
                <p>Zalogowany jako {{loggedUser.name}}</p>
                <div class="dropdown">
                    <md-button ng-click="dropDown()" class="md-primary md-icon-button ">
                        <i class="material-icons">menu</i>
                    </md-button>
                    <div id="myDropdown" class="dropdown-content">
                        <a th:href="@{/logout}">Wyloguj się</a>
                    </div>
                </div>
            </div>
        </md-toolbar>

        <!--Obowiązkowy element aby menu było do samego dołu-->
        <section layout="row" flex>

            <!--Boczny pasek nawigacji-->
            <md-sidenav
                    class="md-sidenav-left"
                    md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')"
                    md-whiteframe="4">

                <md-content layout-padding>
                    <ul>
                        <!--<a href="default.asp">Home</a>-->
                        <li ng-repeat="command in commands | orderBy: 'name'"
                            ng-click="selectCommand(command.idCommand)"><p class="commands-panel">{{command.name}} </p>
                        </li>

                    </ul>
                </md-content>
            </md-sidenav>

            <!--Tytuł strony pojawiający się na środku-->
            <md-content flex layout-padding>
                <h3 style="color:blue; text-align: center;">Witaj na stronie zakładu ubezpieczeń</h3>
                <br><br>



            </md-content>
        </section>
    </div>


</div>








</body>
</html>