<!DOCTYPE HTML>

<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Zakład ubezpieczen</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="controller.js"></script>
    <script src="offerControler.js"></script>
</head>
<body>

<div class="container" ng-app="app">

    <h3 style="color:blue">Zakład ubezpieczen pseudo rejestracja</h3>

    <div ng-controller="homeController">


        <form  name='f' ng-submit="submitForm()">
            <table>
                <tr>
                    <td>Login:</td>
                    <td><input type="text" name="username" value="" ng-model="username"/> </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" ng-model="password" /> </td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name" value="" ng-model="name" /> </td>
                </tr>
                <tr>
                    <td>Surname:</td>
                    <td><input type="text" name="surname" value="" ng-model="surname"/> </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email" value="" ng-model="email"/> </td>
                </tr>
                <tr>
                    <td colspan="2"><input name="submit" type="submit" value="Zarejestruj"/> </td>
                </tr>
                <tr>
                    <td> <a href="find/findUser">Wyszukaj usera</a></td>
                    <td><a href="find/findOffer">Wyszukaj oferty</a></td>
                    <td><a href=""></a></td>
                </tr>
                <tr>
                    <td> <a th:href="@{/logout}">Wyloguj się</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>

<!--<div class="container" ng-app="app">-->

    <h3 style="color:blue">Dodaj oferte </h3>

    <div ng-controller="offerController">
        <form  name='o'   ng-submit="acceptForm()">
            <table>
                <tr>
                    <td>Id client:</td>
                    <td><input type="text" name="idclient" value="" ng-model="idclient"/> </td>
                </tr>
                <tr>
                    <td>Information:</td>
                    <td><input type="text" name="information" ng-model="information" /> </td>
                </tr>
                <tr>
                    <td>Typ:</td>
                    <td><input type="text" name="insurancetype" value="" ng-model="insurancetype" /> </td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name" value="" ng-model="name"/> </td>
                </tr>
                <tr>
                    <td colspan="2"><input name="submit" type="submit" value="Dodaj"/> </td>
                </tr>
            </table>
            {{postMessage}}
        </form>


    </div>
</div>

<!--</div>-->



</body>
</html>