<!DOCTYPE HTML>

<html xmlns:th="http://www.w3.org/1999/xhtml">
<link>
<title>Zakład ubezpieczen logowanie</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="http://localhost:8090/contract/newContractStyle.css">
<!--Ten navbar style musi być w każdym pliku html-->
<link rel="stylesheet" href="http://localhost:8090/navBarStyle.css">
<link rel="stylesheet" href="formstyle.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="http://localhost:8090/contract/newContractController.js"></script>
<!--Ten home service musi być zawsze-->
<script src="http://localhost:8090/homeService.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
</head>














<!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->

</head>
<body>

<div class="container" ng-app="app">


    <div ng-controller="newContractController" layout="column" ng-cloak>

        <!--Pasek nawigacji u góry-->
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <a flex md-truncate href="http://localhost:8090/home"> <h2 >Zakład ubezpieczeń</h2></a>


            </div>
        </md-toolbar>
    </div>
</div>
    <div class="container" ng-app="app">

        <h3 >Zakład ubezpieczen logowanie: </h3>

        <form name='f' th:action='@{/login}' class="form-style-6" method='POST'>
            <table>
                <tr>
                    <td>Nazwa użytkownika:</td>
                    <td><input type="text" name="username" value="" /> </td>
                </tr>
                <tr>
                    <td>Hasło:</td>
                    <td><input type="password" name="password" /> </td>
                </tr>
                <tr>
                    <td>Pamietaj mnie:</td>
                    <td>
                        <input id="remember_me" name="remember-me" type="checkbox" checked="checked" />
                    </td>

                </tr>
                <tr>
                    <td colspan="2"><input name="submit" type="submit" value="Zaloguj"/> </td>
                </tr>
            </table>
        </form>



    </div>
</body>
</html>