<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wyszukiwanie ofert</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="findOfferController.js"></script>
    <script src="findOfferService.js"></script>

</head>
<body>

<div ng-app="app">
    <div ng-controller="findOfferController">


        <form  name='f'  ng-controller="findOfferController" ng-submit="submitForm()">
            <table>
                <tr>
                    <td>Wyszukaj:</td>
                    <td><input type="text" name="name" value="" ng-model="name"/> </td>
                </tr>
                <tr>
                    <td colspan="2"><input name="submit" type="submit" value="Wyszukaj"/> </td>
                </tr>
                <tr>
                    <td>{{response}}</td>
                </tr>
                <tr ng-repeat="result in postResult">
                    <td> Nazwa:    </td>
                    <td>{{result.name}}</td>

                </tr>


            </table>
        </form>


    </div>
</div>
</body>
</html>