<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtm">
<head>
    <title>Wyszukiwanie klienta</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="../navBarStyle.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="findOfferController.js"></script>
    <script src="findOfferService.js"></script>

    <script src="../homeService.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

</head>
<body>
<div class="container" ng-app="app">

<div ng-controller="findOfferController" layout="column" ng-cloak>

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <a flex md-truncate href="/home"><h2>Zakład ubezpieczeń</h2></a>
            <p>Zalogowany jako {{loggedUser.name}}</p>
            <div class="dropdown">
                <md-button ng-click="dropDown()" class="md-primary md-icon-button ">
                    <i class="material-icons">menu</i>
                </md-button>
                <div id="myDropdown" class="dropdown-content">
                    <a th:href="@{/changePass}">Zmiana hasła</a>
                    <a th:href="@{/logout}">Wyloguj się</a>
                </div>
            </div>
        </div>
    </md-toolbar>

    <!--Obowiązkowy element aby menu było do samego dołu-->
    <section layout="row" flex>

        <!--Boczny pasek nawigacji-->
        <md-sidenav
                class="md-sidenav-left panel-apperance"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4">

            <md-content layout-padding class="panel-apperance">
                <ul>
                    <!--<a href="default.asp">Home</a>-->
                    <li ng-repeat="command in commands | orderBy: 'name'"
                        ng-click="selectCommand(command.idCommand)"><p class="commands-panel">{{command.name}} </p>
                    </li>

                </ul>
            </md-content>
        </md-sidenav>
                 <md-content flex layout-padding>
                    <h3 style="color:blue; text-align: center;">Wyszukiwarka ofert</h3>
                    <br><br>
                     <div layout-gt-sm="row">
                         <div flex="5" hide-xs hide-sm>
                             <!-- Spacer //-->
                         </div>
                         <md-input-container class="md-block" flex-gt-sm>
                             <label>Nazwa oferty.</label>
                             <input name="findData" ng-model="findData" required minlength="3" maxlength="70"/>

                             <div ng-messages="findData.$error">
                                 <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                     Nazwa musi zawierać od 3 do 70 znaków.
                                 </div>
                             </div>
                         </md-input-container>

                         <div flex="5" hide-xs hide-sm>
                             <!-- Spacer //-->
                         </div>

                         <md-button md-no-ink ng-click="submitForm(findData)" ng-disabled="!findData" class="md-primary">
                             Wyszukaj
                         </md-button>
                         <div flex="45" hide-xs hide-sm>
                             <!-- Spacer //-->
                         </div>
                     </div>

                     <md-list flex>
                         <md-subheader class="md-no-sticky subHeaderCustom">Znalezione oferty</md-subheader>

                         <div ng-repeat="result in postResult" ng-click="selectOffer(result.idoffer)" layout-gt-sm="row">
                             <div flex="5" hide-xs hide-sm>
                                 <!-- Spacer //-->
                             </div>
                             <md-list-item  class="md-2-line">
                                 <div class="md-list-item-text">
                                     <h3>Nazwa:</h3>
                                     <p> {{result.name}} </p>
                                 </div>
                             </md-list-item>
                         </div>
                     </md-list>
  
                 </md-content>
    </section>
</div>
</div>
</body>
</html>
